@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap");
@import "../assets/font/LxgwWenKai-Screen/result.css";

:root {
  font-family: "LXGW WenKai Screen", "Varela Round", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  background-color: black;
  background: linear-gradient(
    to bottom,
    #a8e063,
    rgb(255, 236, 185),
    #a1ffce,
    #0ed2f7
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
